<!DOCTYPE html>

<html >
<head>	
  <meta charset="utf-8">
  <title>MPath-MS</title>
  <meta content="MPtah-MS" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <!-- JQuery -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% load static %}
  <link rel="stylesheet" href="{% static "css/base.css" %}" >
  <link rel="stylesheet" href="{% static "css/simulation.css" %}" >
  <link rel="stylesheet" href="{% static "css/materialize-custom.css" %}" >

  <script src="{% static "js/services.js" %}"></script>
  <script src="{% static "js/PMGMP_services.js" %}"></script>
  <script src="{% static "js/Sim_RT_Runner_services.js" %}"></script>

  <!-- graphics -->
  <script src="{% static "js/highcharts.js" %}"></script>
  <script src="{% static "js/highcharts-more.js" %}"></script>
  <script src="{% static "js/export-csv.js" %}"></script>
  <script src="{% static "js/exporting.js" %}"></script>
  <script src="{% static "js/graphic.js" %}"></script>
  <script src="{% static "js/simulation.js" %}"></script>

  <!-- Materialize scripts -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
  </script>

  <script type="text/javascript">
    var csrf_token = '{{ csrf_token }}';
  </script>

  {% block script %}
  {% endblock %}

</head>
<body class="body">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"> MPath-MS</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light" href="/PMGMP/model_files/"><i class="material-icons left">view_list</i>MODELS LIST</a></li>
          <li><a class="waves-effect waves-light" href="/PMGMP/upload_sbml_file/"><i class="material-icons left">cloud_upload</i>NEW MODEL</a></li>
          <li><a class="waves-effect waves-light" href="/PMGMP/sbml_files/"><i class="material-icons left">folder</i>SBML files</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href=""><i class="material-icons left">view_list</i>MODELS LIST</a></li>
    <li><a href="/upload_sbml"><i class="material-icons left">cloud_upload</i>NEW MODEL</a></li>
    <li><a href="/sbml_files"><i class="material-icons left">folder</i>SBML files</a></li>
  </ul>

  {% block body %}
  {% endblock %}
</body>
</html>
