{% extends "web/base.html" %}

{% block body %}
<div>

  <ul class="collection with-header standar-width">
    <li class="collection-header"><h4>Model files</h4></li>
    {% for model in model_files %}
      <li id="model-item-{{model.id}}" class="collection-item">
        <div>
          {{model.name}}
          <a href="#" class="secondary-content red-text" onclick='javascript:remove_model("{{model.id}}")'>
            <i class="material-icons">delete_forever</i>
          </a>
          <a href="/static/compiled_models/{{model.name}}" class="secondary-content" download>
            <i class="material-icons">cloud_download</i>
          </a>
          <a href="#" class="secondary-content" onclick='javascript:run_model_simulation("{{model.id}}")'>
            <i class="material-icons">timeline</i>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
  
</div>
{% endblock %}