{% extends "web/base.html" %}

{% block body %}
<div>
	<h1>Upload a new SBML file</h1>

  <form enctype="multipart/form-data" method="post" action="/upload_sbml_file" class="upload_form standar-width">
    <div class="row">
       <label>SBML file</label>
       <div class="file-field input-field">
          <div class="btn">
             <span>Browse</span>
             <input type="file" name="file"/>
          </div>
          
          <div class = "file-path-wrapper">
             <input class="file-path validate" type="text" name="file_name"
                placeholder="Upload a SBML model" />
          </div>
       </div>
    </div>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    
    <button class="btn waves-effect waves-light" type="submit" name="action">Upload
      <i class="material-icons right">send</i>
    </button>

  </form>
</div>
{% endblock %}