.simulation-main {
	text-align: center;
}

.simulation {
	position: sticky;
    top: 70px;

	margin: 30px auto;
	padding: 10px;
	
	border: 1px solid #e0e0e0;
	border-radius: 2px;
}

.simulation-title {
	text-align: left;
}

.simulation-title > * {
	font-size: 1.0rem;
}

.simulation-title span {
	font-weight: 500;
	line-height: 110%;
}

.metabolites {
	margin: 30px auto; 
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	padding: 10px;	
	text-align: left;
}