{% extends "web/base.html" %}

{% block body %}
<div>

  <ul class="collection with-header standar-width">
    <li class="collection-header"><h4>Currently running simulations</h4></li>
    {% for simulation in running_simulations %}
      <li id="model-item-{{simulation.model.id}}" class="collection-item">
        <div>
          {{simulation.model.name}} - {{simulation.id}} : {{simulation.db_identifier}}
          <a href="/Sim_RT_Runner/simulation/results/{{simulation.id}}/" class="secondary-content">
            <i class="material-icons">insert_chart</i>
          </a>
          <a href="/Sim_RT_Runner/stop_simulation/{{simulation.id}}" class="secondary-content red-text">
            <i class="material-icons">stop</i>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <ul class="collection with-header standar-width">
    <li class="collection-header"><h4>Finished simulations</h4></li>
    {% for simulation in finished_simulations %}
      <li id="model-item-{{simulation.model.id}}" class="collection-item">
        <div>
          {{simulation.model.name}} - {{simulation.id}} : {{simulation.db_identifier}}
          <a href="/Sim_RT_Runner/simulation/results/{{simulation.id}}/" class="secondary-content">
            <i class="material-icons">insert_chart</i>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
  
</div>
{% endblock %}